src/main/ficheros_configuracion/wsdl/InvenesSearchService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.invenes.oracle.es/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.invenes.oracle.es/" name="InvenesSearchService">
<types>
<xsd:schema>
<!-- 	<xsd:import namespace="http://ws.invenes.oracle.es/" schemaLocation="https://invenes.oepm.es:443/InvenesServices/InvenesSearchService?xsd=1"></xsd:import>--> 
	<xsd:import namespace="http://ws.invenes.oracle.es/" schemaLocation="InvenesSearchService.xsd"/> 
</xsd:schema>
</types>
<message name="getDesc">
<part name="parameters" element="tns:getDesc"></part>
</message>
<message name="getDescResponse">
<part name="parameters" element="tns:getDescResponse"></part>
</message>
<message name="doLogin">
<part name="parameters" element="tns:doLogin"></part>
</message>
<message name="doLoginResponse">
<part name="parameters" element="tns:doLoginResponse"></part>
</message>
<message name="InvenesWebException">
<part name="fault" element="tns:InvenesWebException"></part>
</message>
<message name="doSearch">
<part name="parameters" element="tns:doSearch"></part>
</message>
<message name="doSearchResponse">
<part name="parameters" element="tns:doSearchResponse"></part>
</message>
<message name="SesionExpiradaException">
<part name="fault" element="tns:SesionExpiradaException"></part>
</message>
<message name="getSearchFields">
<part name="parameters" element="tns:getSearchFields"></part>
</message>
<message name="getSearchFieldsResponse">
<part name="parameters" element="tns:getSearchFieldsResponse"></part>
</message>
<message name="getResultFields">
<part name="parameters" element="tns:getResultFields"></part>
</message>
<message name="getResultFieldsResponse">
<part name="parameters" element="tns:getResultFieldsResponse"></part>
</message>
<message name="getBases">
<part name="parameters" element="tns:getBases"></part>
</message>
<message name="getBasesResponse">
<part name="parameters" element="tns:getBasesResponse"></part>
</message>
<message name="getAllTypes">
<part name="parameters" element="tns:getAllTypes"></part>
</message>
<message name="getAllTypesResponse">
<part name="parameters" element="tns:getAllTypesResponse"></part>
</message>
<message name="getPublicationTypes">
<part name="parameters" element="tns:getPublicationTypes"></part>
</message>
<message name="getPublicationTypesResponse">
<part name="parameters" element="tns:getPublicationTypesResponse"></part>
</message>
<message name="getSummary">
<part name="parameters" element="tns:getSummary"></part>
</message>
<message name="getSummaryResponse">
<part name="parameters" element="tns:getSummaryResponse"></part>
</message>
<message name="getClaims">
<part name="parameters" element="tns:getClaims"></part>
</message>
<message name="getClaimsResponse">
<part name="parameters" element="tns:getClaimsResponse"></part>
</message>
<message name="getSearchReport">
<part name="parameters" element="tns:getSearchReport"></part>
</message>
<message name="getSearchReportResponse">
<part name="parameters" element="tns:getSearchReportResponse"></part>
</message>
<message name="getWrittenOpinion">
<part name="parameters" element="tns:getWrittenOpinion"></part>
</message>
<message name="getWrittenOpinionResponse">
<part name="parameters" element="tns:getWrittenOpinionResponse"></part>
</message>
<message name="getPDF">
<part name="parameters" element="tns:getPDF"></part>
</message>
<message name="getPDFResponse">
<part name="parameters" element="tns:getPDFResponse"></part>
</message>
<message name="getImages">
<part name="parameters" element="tns:getImages"></part>
</message>
<message name="getImagesResponse">
<part name="parameters" element="tns:getImagesResponse"></part>
</message>
<message name="getResumen">
<part name="parameters" element="tns:getResumen"></part>
</message>
<message name="getResumenResponse">
<part name="parameters" element="tns:getResumenResponse"></part>
</message>
<message name="getXMLInfo">
<part name="parameters" element="tns:getXMLInfo"></part>
</message>
<message name="getXMLInfoResponse">
<part name="parameters" element="tns:getXMLInfoResponse"></part>
</message>
<portType name="InvenesSearch">
<operation name="getDesc">
<input wsam:Action="http://ws.invenes.oracle.es/InvenesSearch/getDescRequest" message="tns:getDesc"></input>
<output wsam:Action="http://ws.invenes.oracle.es/InvenesSearch/getDescResponse" message="tns:getDescResponse"></output>
</operation>
<operation name="doLogin">
<input wsam:Action="http://ws.invenes.oracle.es/InvenesSearch/doLoginRequest" message="tns:doLogin"></input>
<output wsam:Action="http://ws.invenes.oracle.es/InvenesSearch/doLoginResponse" message="tns:doLoginResponse"></output>
<fault message="tns:InvenesWebException" name="InvenesWebException" wsam:Action="http://ws.invenes.oracle.es/InvenesSearch/doLogin/Fault/InvenesWebException"></fault>
</operation>
<operation name="doSearch">
<input wsam:Action="http://ws.invenes.oracle.es/InvenesSearch/doSearchRequest" message="tns:doSearch"></input>
<output wsam:Action="http://ws.invenes.oracle.es/InvenesSearch/doSearchResponse" message="tns:doSearchResponse"></output>
<fault message="tns:SesionExpiradaException" name="SesionExpiradaException" wsam:Action="http://ws.invenes.oracle.es/InvenesSearch/doSearch/Fault/SesionExpiradaException"></fault>
</operation>
<operation name="getSearchFields">
<input wsam:Action="http://ws.invenes.oracle.es/InvenesSearch/getSearchFieldsRequest" message="tns:getSearchFields"></input>
<output wsam:Action="http://ws.invenes.oracle.es/InvenesSearch/getSearchFieldsResponse" message="tns:getSearchFieldsResponse"></output>
</operation>
<operation name="getResultFields">
<input wsam:Action="http://ws.invenes.oracle.es/InvenesSearch/getResultFieldsRequest" message="tns:getResultFields"></input>
<output wsam:Action="http://ws.invenes.oracle.es/InvenesSearch/getResultFieldsResponse" message="tns:getResultFieldsResponse"></output>
</operation>
<operation name="getBases">
<input wsam:Action="http://ws.invenes.oracle.es/InvenesSearch/getBasesRequest" message="tns:getBases"></input>
<output wsam:Action="http://ws.invenes.oracle.es/InvenesSearch/getBasesResponse" message="tns:getBasesResponse"></output>
</operation>
<operation name="getAllTypes">
<input wsam:Action="http://ws.invenes.oracle.es/InvenesSearch/getAllTypesRequest" message="tns:getAllTypes"></input>
<output wsam:Action="http://ws.invenes.oracle.es/InvenesSearch/getAllTypesResponse" message="tns:getAllTypesResponse"></output>
</operation>
<operation name="getPublicationTypes">
<input wsam:Action="http://ws.invenes.oracle.es/InvenesSearch/getPublicationTypesRequest" message="tns:getPublicationTypes"></input>
<output wsam:Action="http://ws.invenes.oracle.es/InvenesSearch/getPublicationTypesResponse" message="tns:getPublicationTypesResponse"></output>
</operation>
<operation name="getSummary">
<input wsam:Action="http://ws.invenes.oracle.es/InvenesSearch/getSummaryRequest" message="tns:getSummary"></input>
<output wsam:Action="http://ws.invenes.oracle.es/InvenesSearch/getSummaryResponse" message="tns:getSummaryResponse"></output>
</operation>
<operation name="getClaims">
<input wsam:Action="http://ws.invenes.oracle.es/InvenesSearch/getClaimsRequest" message="tns:getClaims"></input>
<output wsam:Action="http://ws.invenes.oracle.es/InvenesSearch/getClaimsResponse" message="tns:getClaimsResponse"></output>
</operation>
<operation name="getSearchReport">
<input wsam:Action="http://ws.invenes.oracle.es/InvenesSearch/getSearchReportRequest" message="tns:getSearchReport"></input>
<output wsam:Action="http://ws.invenes.oracle.es/InvenesSearch/getSearchReportResponse" message="tns:getSearchReportResponse"></output>
</operation>
<operation name="getWrittenOpinion">
<input wsam:Action="http://ws.invenes.oracle.es/InvenesSearch/getWrittenOpinionRequest" message="tns:getWrittenOpinion"></input>
<output wsam:Action="http://ws.invenes.oracle.es/InvenesSearch/getWrittenOpinionResponse" message="tns:getWrittenOpinionResponse"></output>
</operation>
<operation name="getPDF">
<input wsam:Action="http://ws.invenes.oracle.es/InvenesSearch/getPDFRequest" message="tns:getPDF"></input>
<output wsam:Action="http://ws.invenes.oracle.es/InvenesSearch/getPDFResponse" message="tns:getPDFResponse"></output>
</operation>
<operation name="getImages">
<input wsam:Action="http://ws.invenes.oracle.es/InvenesSearch/getImagesRequest" message="tns:getImages"></input>
<output wsam:Action="http://ws.invenes.oracle.es/InvenesSearch/getImagesResponse" message="tns:getImagesResponse"></output>
</operation>
<operation name="getResumen">
<input wsam:Action="http://ws.invenes.oracle.es/InvenesSearch/getResumenRequest" message="tns:getResumen"></input>
<output wsam:Action="http://ws.invenes.oracle.es/InvenesSearch/getResumenResponse" message="tns:getResumenResponse"></output>
</operation>
<operation name="getXMLInfo">
<input wsam:Action="http://ws.invenes.oracle.es/InvenesSearch/getXMLInfoRequest" message="tns:getXMLInfo"></input>
<output wsam:Action="http://ws.invenes.oracle.es/InvenesSearch/getXMLInfoResponse" message="tns:getXMLInfoResponse"></output>
</operation>
</portType>
<binding name="InvenesSearchServiceBinding" type="tns:InvenesSearch">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getDesc">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="doLogin">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="InvenesWebException">
<soap:fault name="InvenesWebException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="doSearch">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SesionExpiradaException">
<soap:fault name="SesionExpiradaException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getSearchFields">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getResultFields">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getBases">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAllTypes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getPublicationTypes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getSummary">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getClaims">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getSearchReport">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getWrittenOpinion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getPDF">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getImages">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getResumen">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getXMLInfo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="InvenesSearchService">
<port name="InvenesSearchService" binding="tns:InvenesSearchServiceBinding">
<soap:address location="https://invenes.oepm.es:443/InvenesServices/InvenesSearchService"></soap:address>
</port>
</service>
</definitions>